<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= simple_form_for @author do |f| %>
        <%= f.input :name %>
        <%= f.input :phone %>
        <%= f.input_field :department %>
        <%= f.input :photo %>
        <%= f.submit 'Добавить' %>
      <% end %>
    </div>
  </div>
</div>