<div class="container">
    <div class="row">
    <div class="col-md-6">
    <img src="<%= @author.photo %>" class="rounded float-right" alt="Аватарка">
    </div>
    <div class="col-md-6">
    <p><%= link_to @author.name, edit_author_path %></p>
    <p><%= @author.phone %></p>
    <p><%= link_to @author.department, authors_department_path(@author) %></p>
    </div>
    </div>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Компания</th>
				<th>Дата завершения</th>
				<th>Исполнитель</th>
			</tr>
		</thead>
<tbody>
<% @units.each do |unit| %>
	
	<% @date_result = (unit.date_end - Date.today).to_i %>
  		
	
	<tr class=<%= color %>>
		<td><%= unit.unit %></td>
		<td><%= l unit.date_end, format: :long %></td>
		<td><%= unit.user.name %></td>
	</tr>
<% end %>
	</tbody>
</table>
</div>