<div>
	<% @units do |item| %>
		<%= simple_form_for(item) do |f| %>
			<%= f.input :date_finish %>
		  <%= f.input :sum_ur %>
			<%= f.input :sum_fiz %>
			<%= f.input :comment %>
			<%= f.input :complete, as: :boolean %>
			<%= f.button :submit %>
		<% end %>
	<% end %>
</div>
