<div class="add_task" style="display: none;">

  <%= form_for :temp_task, :url => {:controller => 'temp_tasks', action: "create", role: 'form'} do |f| %>
	<div class="form-inline">
		<%= f.text_field :date_start, {:class => 'datepicker date-width', :placeholder => 'Дата начала'} %>
		<%= f.text_field :date_end, {:class => 'datepicker date-width', :placeholder => 'Дата окончания'} %>
	</div>

	<div>
		<%= f.text_area :companys, rows: 1, class: 'form-control add_company', placeholder: 'Несколько компаний  через ";"' %>
	</div>

	<div class="form-inline margin_bottom">
		<label>Инициаторы</label>
		<%= f.select :author_id, Author.author_select, {:placeholder => ""}, {:class => 'form-control add_company_author'} %>
		<div class="author btn btn-sm btn-info">добавить инициатора</div>
	</div>

	<div class="form-inline">
		<%= hidden_field_tag :branch_id, current_user.branch_id %>
		<label>Исполнители</label>
		<%= f.select :user_id, User.where(role: current_user.role).user_out, {:placeholder => ""}, {:class => 'form-control add_company_user'} %>
		<%= f.submit "Сохранить задачу", class: "btn btn-primary" %>
	</div>

  <% end %>
</div>