<div class="author-tab" style="display: none;">

  <%= form_for :author, :url => {:controller => 'authors', action: "create", role: 'form'} do |f| %>
    <%= f.text_field :name, {:class => 'form-control',:id => 'authors_style_name', :placeholder => 'ФИО', :type => 'text'} %>
    <%= f.text_field :photo, {:class => 'form-control authors_style_photo', :placeholder => 'Фото - url', :type => 'url'} %>

    <div class="form-inline margin_bottom">
      <div class="form-group">
      <label>Департамент:</label>
        <%= f.select :department_id, Department.all.map{ |department| [department.short_department, department.id] }, {:placeholder => ""}, {:class => 'form-control authors_style'} %>
      </div>
      <button type="button" class="btn btn-primary color_btn">Добавить департамент</button>
    </div>
    <%= render 'add_departament' %>
    <div class="form-inline margin_bottom">
      <%= f.text_field :phone, {:class => 'form-control authors_style_phone', :placeholder => 'Телефон'} %>
      <%= f.submit "Сохранить инициатора", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>