<tr id="edit_unit_<%= thing.id %>" style="display: none;">
	<%= simple_form_for(thing) do |f| %>
		<td>
			<%= button_tag type: 'submit', class: "btn btn-default" do %>
      	<i class="glyphicon glyphicon-ok ok" aria-hidden="true"></i>
  		<% end %>
			<%= link_to '',data: { unit_id: thing.id } , class: 'btn btn-default remove' do %>
				<i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
			<% end %>
		</td>	  
		<td><%= f.input :unit, label: false %></td>
		<td>
			<%= f.text_field :date_start, {:class => 'datepicker'} %>
			<%= f.text_field :date_end, {:class => 'datepicker'} %>
		</td>
		<td>
			<%= f.input :user_id, label: false do %>
				<%= f.select :user_id, User.where(branch_id: current_user.branch_id).user_out, {:placeholder => ""}, {:class => 'form-control'} %>
			<% end %>		
		</td>
		<td>
			<%= f.input :author_id, label: false do %>
			  <%= f.select :author_id, Author.author_select, {:placeholder => ""}, {:class => 'form-control'} %>
			<% end %>
		</td>
	<% end %>
</tr>
			