<div class='container'>
<table class="table table-condensed">
		<thead>
			<tr>
				<th>Компания</th>
				<th>Дата завершения</th>
				<th>Комментарий</th>
				<th>Количество Юриков</th>
				<th>Количество Физиков</th>
				<th>Исполнитель</th>
				<th>Инициатор</th>
				<th>Завершено</th>
			</tr>
		</thead>
<tbody>
    <% @searchs.each do |search| %>
    	<td><%= link_to search.unit, units_group_path(search.id_temp_task) %></td>
		<td><%= l search.date_end, format: :long %></td>
		<td><%= search.comment %></td>
		<td><%= search.sum_ur %></td>
		<td><%= search.sum_fiz %></td>
		<td><%= search.user.name %></td>
		<td><%= search.author.name %></td>
		<td><%= search.complete%></td>
		
		
	</tr>
<% end %>
	</tbody>
</table>
</div>
 </div>