<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Компания</th>
				<th>Дата завершения</th>
				<th>Исполнитель</th>
				<th>Инициатор</th>
				
			</tr>
		</thead>
<tbody>
<% @units.each do |unit| %>
	<% @date_result = (unit.date_end - Date.today).to_i %>
	<tr class=<%= color %>>
		<td><%= link_to edit_unit_path(unit),  class: "glyphicon glyphicon-pencil" do %></td>
		<% end %>
		<td><%= link_to unit.unit, units_group_path(unit.id_temp_task) %></td>
		<td><%= l unit.date_end, format: :long, prompt: :translate %></td>
		<td><%= link_to unit.user.name, user_path(unit.user_id) if !unit.user_id.nil? %></td>
		<td><%= link_to unit.author.name, author_path(unit.author_id) %></td>
	</tr>
<% end %>
	</tbody>
</table>