<div class="container">
	<div class="row">
		<div class="col"> 
			<%= simple_form_for(@unit) do |f| %>
				<div class="form-inline">
					<%= f.input :unit, label: false %>
					<%= f.text_field :date_start, {:class => 'datepicker'} %>
					<%= f.text_field :date_end, {:class => 'datepicker'} %>
					<%= f.input :author_id, label: false do %>
		        		<%= f.select :author_id, Author.author_select, {:placeholder => ""}, {:class => 'form-control'} %>
		        	<% end %>
		        	<%= f.input :user_id, label: false do %>
						<%= f.select :user_id, User.where(branch_id: current_user.branch_id).user_out, {:placeholder => ""}, {:class => 'form-control'} %>
					<% end %>
					<%= f.button :submit, label: false %>
				</div>

			<% end %>
		</div>
	</div>
</div>