<div class="container">
	<div class="row">
	<div class="col-md-6"> 
			<%= simple_form_for(@unit) do |f| %>
			<%= f.input :unit %>
			<%= f.input :date_start %>
			<%= f.input :date_end %>
			<%= f.input :author_id, label: 'Author' do %>
        	<%= f.select :author_id, Author.author_select, {:placeholder => ""}, {:class => 'form-control'} %>
        	<% end %>
        	<%= f.input :user_id, label: 'User' do %>
			<%= f.select :user_id, User.user_select, {:placeholder => ""}, {:class => 'form-control'} %>
			<% end %>
			<%= f.button :submit %>
			<% end %>
		</div>
	</div>
</div>