<div class="container">
	<%= render 'cbr' %>

	<div class="row" id="cont">
	  <table id="user-list">
        <tr>
	      <div class="col-xs-8 left-names">
			<% @users.each do |user| %>
	    	  <td class="names btn-group">
				<%= button_to [user.name, find_count(user)], user_path(user), method: :get, class: "btn btn-success btn-lg btn-zenit" %>
			  </td>
			<% end %>
		  </div>
	   	  <div class="col-xs-4">
	 		  <td>
	 		    <div class="task btn btn-primary btn-lg">Добавить задачу</div>
			  </td>
			</div>
		</tr>
	  </table>
	</div>

	<br>
	<div class="row" id="forms_css">
	  <div class="col-xs-7">
	  	<%= render 'add_form' %>
	  </div>
	  <div class="col-xs-5">
			<%= render 'author' %>
		    <%= render 'add_departament' %>
		</div>
	</div>
	
	<br>
	<div class="row">
		<div class="col-xs-12">
			<%= render 'table' %>
		</div>			
	</div>
</div>