<div class="container">
	<%= render 'cbr' %>

	<div class="row" id="cont">
	  <table id="user-list">
        <tr>
	      <div class="col-xs-8 left-names">
			<% @users.each do |user| %>
	    	  <td class="names btn-group">
				<% if user.in_out? %>
				<% case user.in_out? %>
					<% when current_user.branch_id == 0 %>
				  		<%= button_to [user.name, find_count(user)], user_path(user), method: :get, class: "btn btn-success btn-lg btn-zenit" %>
					<% when current_user.branch_id == user.branch_id %>
						<%= button_to [user.name, find_count(user)], user_path(user), method: :get, class: "btn btn-success btn-lg btn-zenit" %>
					<% end %>
				<% end %>
			  </td>
			<% end %>
		  </div>
	   	  <div class="col-xs-4">
	 		  <td>
	 		    <div class="task btn btn-primary btn-lg">Добавить задачу</div>
			  </td>
			</div>
		</tr>
	  </table>
	</div>

	<br>
	<div class="row" id="forms_css">
	  <div class="col-xs-7">
	  	<%= render 'add_form' %>
	  </div>
	  <div class="col-xs-5">
			<%= render 'author' %>
		    <%= render 'add_departament' %>
		</div>
	</div>
	
	<br>
	<div class="row">
		<div class="col-xs-12">
			<%= render 'table' %>
		</div>			
	</div>
<div>
    <table>
        <% @users.each do |user| %>
        <tr>
            <th><%=  user.name %></th>
            <th><%=  user.branch_id %></th>
            <th><%= current_user.branch_id == user.branch_id %></th>
            <th><%= check_box_tag(:role) %></th>
            <th><%= label_tag(:role, "supeuser") %></th>
            <th><%= check_box_tag(:role) %></th>
            <th><%= label_tag(:role, "admin") %></th>
            <th><%= check_box_tag(:role) %></th>
            <th><%= label_tag(:role, "user") %></th>
            <th><%= user.in_out? %></th>
            <th><%= check_box_tag(:in_out) %></th>
            <th><%= label_tag(:in_out, "уволен") %></th>
        </tr>	
        <% end %>
    </table>
</div>
</div>